@import "../styles/colors";
@import "../../fonts/fonts";

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    .main__left {
        position: relative;
        padding-top: 150px;
        padding-left: 3%;
        padding-right: 3%;
        left: 0;
        width: 34%;
        background: $greybackground;
        border-right: 1px solid $greyborder;
        .title__container {
            left: 0;
            top: 120px;
            display: flex;
            flex-direction: column;
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            .title__videogame {
                font-family: $Montserrat;
                font-weight: bold;
                font-size: 20px;
            }
            .title--addon {
                font-size: 14px;
                font-family: $Montserrat;
                margin-top: -15px;
            }
        }
        .cover__container {
            display: flex;
            align-items: center;
            justify-content: center;
            .cover--img {
                width: 400px;
            }
        }
        .editions__container, & .platforms__container {
            display: flex;
            align-items: center;
            margin-top: 5px;
            .editions__title, & .platforms__title {
                padding-right: 10px;
                font-weight: bold;
            }
            .selected-edition__container, & .selected-platform__container {
                font-weight: 600;
                border-radius: 10px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                .selected-edition, & .selected-platform {
                    padding: 10px;
                    text-align: center;
                    font-size: 12px;
                }
            }
            .selected-edition__container {
                background-color: $blackbackground;
                color: $whitecolor;
            }
            .selected-platform__container {
                background-color: $goldenstrongcolor;
                color: $blackbackground;
            }
        }
    }
    .main__right {
        position: relative;
        width: 60%;
        background: $whitecolor;
        .rating__global--container {
            display: flex;
            align-items: center;
            position: absolute;
            left: 60px;
            top: 170px;
            .rating__global--title {
                font-family: $Montserrat;
                font-weight: 600;
                padding-top: 6px;
                padding-right: 10px;
            }
            .rating__global--stars {
                unicode-bidi: bidi-override;
                color: $greyborder;
                font-size: 25px;
                // height: 25px;
                width: 100px;
                margin: 0 auto;
                position: relative;
                padding: 0;
                text-shadow: 0px 1px 0 $greystarlayout;
                .stars__rating--top {
                    color: $goldencolor;
                    padding: 0;
                    position: absolute;
                    z-index: 1;
                    display: block;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                }
                .stars__rating--bottom {
                    padding: 0;
                    display: block;
                    z-index: 0;
                }
            }
        }
    }
}