@import '../styles/colors';
@import '../../fonts/fonts';
@import '../styles/keyframes';

img {
    max-width: 100%;
}

.btn {
    color: $blackbackground;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1.5em;
    background: $goldenstrongcolor;
    border-radius: 100vw;
    padding: .5em 1.5em;
    font-weight: 600;
    outline: none;
    border: none;
}

.cards {
    position: relative;
    min-width: 12.5em;
    margin-bottom: 8em;
    margin-top: 8em;
    margin-left: 4em;
    h1, h2, h3, p {
        margin: 0;
    }
}

.platforms--1, .platforms--2, .platforms--3, .platforms--4, .platforms--5, .platforms--1__back, .platforms--2__back, .platforms--3__back, .platforms--4__back, .platforms--5__back {
    display: flex;
    text-align: center;
    img {
        width: 2em;
        height: 2em;
        border-radius: 50%;
    }
}

.sale {
    position: absolute;
    top: .5em;
    left: -1.5em;
    z-index: 3;
    padding: .3em 1em .3em;
    width: 4em;
    text-align: center;
    transform: rotate(-45deg);
    color: $whitecolor;
    background: $redcolor;
    clip-path: polygon(30% 0%, 68% 0, 98% 100%, 0% 100%);
    transition: transform 200ms cubic-bezier(.21, 1.00, .81, 1.00);
}

.front {
    transition: 250ms;
    .thumbnail {
        border-radius: .5em;
        z-index: 1000;
    }
    .edition__name, .edition__name__second, .edition__name__second__long__sale,  .edition__name__second__sale, .edition__name__second__long, .edition__name__sale, .edition__name__first__long, .edition__name__first__long__sale {
        display: none;
    }
    .name__first, .name__first__sale, .name__first__long, .name__first__long__sale {
        margin-top: 1em;
        margin-bottom: 1.25em;
        font-size: 14px;
    }
    .name__first__second, .name__first__second__sale {
        margin-top: .4em;
        margin-bottom: .5em;
        font-size: 14px;
    }
    .name__second, .name__second__sale {
        font-size: 14px;
        margin-top: -.5em;
        margin-bottom: .6em;
    }
    .name__first__second__long, .name__first__second__long__sale {
        margin-top: .4em;
        margin-bottom: .5em;
        font-size: 14px;
    }
    .name__second__long, .name__second__long__sale {
        font-size: 14px;
        margin-top: -.5em;
        margin-bottom: .6em;
    }
    .information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .platforms--1 img {
            border: 2px solid $greylightbackground;
            &:nth-child(1) {
                transform: translateX(-5%);
            }
        }
        .platforms--2 img {
            border: 2px solid $greylightbackground;
            &:nth-child(1) {
                transform: translateX(45%);
                z-index: 1;
            }
            &:nth-child(2) {
                transform: translateX(-5%);
            }
        }
        .platforms--3 img {
            border: 2px solid $greylightbackground;
            &:nth-child(1) {
                transform: translateX(95%);
                z-index: 4;
            }
            &:nth-child(2) {
                transform: translateX(45%);
                z-index: 3;
            }
            &:nth-child(3) {
                transform: translateX(-5%);
                z-index: 2;
            }
        }
        .platforms--4 img {
            border: 2px solid $greylightbackground;
            &:nth-child(1) {
                transform: translateX(145%);
                z-index: 4;
            }
            &:nth-child(2) {
                transform: translateX(95%);
                z-index: 3;
            }
            &:nth-child(3) {
                transform: translateX(45%);
                z-index: 2;
            }
            &:nth-child(4) {
                transform: translateX(-5%);
                z-index: 1;
            }
        }
        .platforms--5 img {
            border: 2px solid $greylightbackground;
            &:nth-child(1) {
                transform: translateX(195%);
                z-index: 4;
            }
            &:nth-child(2) {
                transform: translateX(145%);
                z-index: 3;
            }
            &:nth-child(3) {
                transform: translateX(95%);
                z-index: 2;
            }
            &:nth-child(4) {
                transform: translateX(45%);
                z-index: 1;
            }
            &:nth-child(5) {
                transform: translateX(-5%);
            }
        }
    }
}

.back {
    opacity: 0;
    color: $whitecolor;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .prices__info-sale {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        .prices {
            border-right: 1px solid rgba($whitecolor, .7);
            .sale__price, .sale__price__normal {
                margin-right: 1.2em;
                text-align: center;
            }
            .sale__price__normal::after {
                border-bottom: 0.25em solid $redcolor;
                content: "";
                width: 57px;
                position: absolute;
                left: 37px;
                top: 27px;
                transform: rotate(-15deg);
            }
        }
        .add-favorite {
            font-size: 1.8rem;
            margin-left: .7em;
        }
        .red {
            color: $redcolor;
        }
        .white {
            color: $whitecolor;
        }
        .add-favorite:hover {
            transition: 500ms;
            color: $redcolor;
            cursor: pointer;
        }
    }
    .prices__info {
        display: flex;
        width: 9em;
        margin-bottom: .5em;
        text-align: center;
        justify-content: center;
        .add-favorite {
            font-size: 1.8rem;
            margin-left: .7em;
        }
        .red {
            color: $redcolor;
        }
        .white {
            color: $whitecolor;
        }
        .add-favorite:hover {
                transition: 500ms;
                color: $redcolor;
                cursor: pointer;
            }
        }
        .notlogged {
            display: none;
            position: absolute;
            width: 10em;
            border-radius: 1em;
            bottom: 6.5em;
            left: 4.5em;
            z-index: 200;
            background-color: rgba($redcolor, .8);
            transition: 1250ms;
            p {
                color: $whitecolor;
                padding: .3em;
                font-size: 12px;
                font-weight: 600;
            }
        }
        .notlogged-sale {
            p {
                text-align: center;
            }
        }
    .price {
        border-right: 1px solid rgba($whitecolor, .7);
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        text-align: center;
        padding-right: 1em;
    }
}

.background {
    background: $blackbackground;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    transform: scale(.2, .9);
    border-radius: .5em;
    opacity: 0;
    overflow: hidden;
    .videogame__platform--nintendo, .videogame__platform--pc, .videogame__platform--ps4, .videogame__platform--ps5, .videogame__platform--xbox, .videogame__platform--playstation {
        height: 100%;
        width: .5em;
    }
    .videogame__platform--playstation {
        background: linear-gradient(45deg, $ps4color 50%, $greylightbackground 50%);
    }
    .videogame__platform--ps4 {
        background: $ps4color;
    }
    .videogame__platform--ps5 {
        background: $greylightbackground;
        color: $blackbackground;
    }
    .videogame__platform--xbox {
        background: $xboxcolor;
    }
    .videogame__platform--nintendo {
        background: $nintendocolor;
    }
    .videogame__platform--pc {
        background: $pccolor;
    }
}

.cards:hover {
    .sale {
        transform: rotate(-45deg) translate(-2.5%, -142.5%);
        color: $blackbackground;
        font-weight: bold;
        z-index: 0;
    }
    .front {
        transform: translateY(-40%) scale(.8);
        .edition__name {
            position: relative;
            display: block;
            color: $whitecolor;
            text-align: center;
            margin-top: -2.2em;
            margin-bottom: 1.8em;
            font-size: 14px;
        }
        .edition__name__first__long {
            display: block;
            position: relative;
            color: $whitecolor;
            text-align: center;
            font-size: 14px;
            margin-top: -1.8em;
            margin-bottom: 1.6em;
        }
        .edition__name__second__long {
            display: block;
            position: relative;
            color: $whitecolor;
            text-align: center;
            font-size: 14px;
            margin-top: -.8em;
            margin-bottom: .8em;
        }
        .edition__name__sale {
            display: block;
            position: relative;
            color: $whitecolor;
            text-align: center;
            font-size: 14px;
            margin-top: -2.8em;
            margin-bottom: 2.5em;
        }
        .edition__name__first__long__sale {
            display: block;
            position: relative;
            color: $whitecolor;
            text-align: center;
            font-size: 14px;
            margin-top: -2.5em;
            margin-bottom: 2.6em;
        }
        .edition__name__second {
            display: block;
            position: relative;
            color: $whitecolor;
            text-align: center;
            font-size: 14px;
            margin-top: -1.3em;
            margin-bottom: 1.1em;
        }
        .edition__name__second__sale {
            display: block;
            width: 130%;
            margin-left: -2.2em;
            position: relative;
            color: $whitecolor;
            text-align: center;
            font-size: 14px;
            margin-top: -2em;
            margin-bottom: 1.8em;
        }
        .edition__name__second__long__sale {
            display: block;
            position: relative;
            color: $whitecolor;
            text-align: center;
            font-size: 14px;
            margin-top: -1.9em;
            margin-bottom: 1.7em;
        }
        .name__first, .name__first__sale, .name__first__long, .name__first__long__sale, .name__second, .name__second__sale, .name__first__second, .name__first__second__sale, .name__first__second__long, .name__second__long, .name__first__second__long__sale, .name__second__long__sale {
            animation: nameGame 250ms forwards;
        }
        .name__first__second {
            margin-top: 1em;
            font-size: 17px;
        }
        .name__first__second__sale {
            font-size: 17px;
            margin-top: .8em;
        }
        .name__second {
            margin-bottom: 1.4em;
            font-size: 17px;
        }
        .name__second__sale {
            font-size: 17px;
            margin-bottom: 2.1em;
        }
        .name__first {
            margin-bottom: 1.7em;
            margin-top: .7em;
            font-size: 19px;
        }
        .name__first__sale {
            font-size: 19px;
            margin-top: .8em;
            margin-bottom: 2.3em;
        }
        .name__first__long {
            font-size: 18px;
            margin-bottom: 1.7em;
            width: 120%;
            margin-left: -1.2em;
        }
        .name__first__long__sale {
            font-size: 18px;
            margin-bottom: 2.2em;
            width: 130%;
            margin-left: -1.8em;
        }
        .name__first__second__long {
            margin-left: -2.3em;
            margin-top: 1.2em;
            font-size: 18px;
            width: 140%;
        }
        .name__first__second__long__sale {
            width: 140%;
            font-size: 18px;
            margin-left: -2.3em;
            margin-top: .9em;
        }
        .name__second__long {
            margin-left: -2.3em;
            margin-bottom: 1em;
            font-size: 18px;
            width: 140%;
        }
        .name__second__long__sale {
            font-size: 18px;
            margin-bottom: 1.7em;
        }
        .information {
            opacity: 0;
        }
    }
    .back {
        opacity: 1;
        .platforms {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .platforms--1__back img {
                border: 2px solid $whitecolor;
            }
            .platforms--2__back img {
                border: 2px solid $whitecolor;
                &:nth-child(1) {
                    transform: translateX(-5%);
                }
                &:nth-child(2) {
                    transform: translateX(5%);
                }
            }
            .platforms--3__back img {
                border: 2px solid $whitecolor;
                &:nth-child(1) {
                    transform: translateX(-10%);
                }
                &:nth-child(3) {
                    transform: translateX(10%);
                }
            }
            .platforms--4__back img {
                border: 2px solid $whitecolor;
                &:nth-child(1) {
                    transform: translateX(-15%);
                }
                &:nth-child(2) {
                    transform: translateX(-5%);
                }
                &:nth-child(3) {
                    transform: translateX(5%);
                }
                &:nth-child(4) {
                    transform: translateX(15%);
                }
            }
            .platforms--5__back img {
                border: 2px solid $whitecolor;
                &:nth-child(1) {
                    transform: translateX(-20%);
                }
                &:nth-child(2) {
                    transform: translateX(-10%);
                }
                &:nth-child(4) {
                    transform: translateX(10%);
                }
                &:nth-child(5) {
                    transform: translateX(20%);
                }
            }
        }
        .prices__info {
            .heart-pulse:hover {
                cursor: pointer;
            }
        }
        .platforms p {
            font-family: $Montserrat;
            font-size: .9rem;
            margin-bottom: 1em;
        }
    }
    .background {
        transition: 
            transform 200ms cubic-bezier(.21, 1.00, .81, 1.00),
            opacity 100ms linear;
        opacity: 1;
        transform: scale(1.3, 1.2);
    }
}