@import "./fonts/fonts";
@import "./components/styles/colors";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $Montserrat;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $blackbackground;
}

::-webkit-scrollbar-thumb {
  background-color: $goldenstrongcolor;
  border-radius: 20px;
  border: 4px solid $blackbackground;
}