@import "../styles/colors";
@import "../../fonts/fonts";

.profile__container {
    width: 100vw;
    height: 100vh;
    background-color: $greybackground;
    .profile {
        display: flex;
        max-width: inherit;
        // height: inherit;
        max-height: inherit;
        align-items: center;
        justify-content: center;
        // margin-top: 12em;
        .profile__left__container {
            min-width: 22em;
            height: 100vh;
            background-color: $greylightbackground;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                box-shadow: rgba(18, 18, 19, 0.25) 0px 5px 25px 0px, rgba(0, 0, 0, 0.8) 0px 0px 16px -5px;
                height: 10em;
                width: 10em;
                border-radius: 50%;
            }
            .full__name {
                font-size: 1.5rem;
                margin-top: 1em;
                margin-bottom: 2em;
                font-family: $Montserrat;
                font-weight: 600;
                span {
                    font-weight: normal;
                }
            }
            // .alias {
            //     margin-top: -.8em;
            //     margin-bottom: 3em;
            // }
            .btns {
                display: flex;
                flex-direction: column;
            }
            .section__btn {
                font-family: $Montserrat;
                font-size: .8em;
                margin-top: .5em;
                outline: none;
                border: none;
                min-width: 22em;
                width: 26.4em;
                height: 3.5em;
                background-color: $whitecolor;
                transition: 250ms;
            }
            .section__btn:hover {
                background-color: $goldencolor;
                font-weight: 600;
                transform: scale(1.05);
            }
            .btn--active {
                font-family: $Montserrat;
                font-size: .8em;
                margin-top: .5em;
                outline: none;
                border: none;
                min-width: 22em;
                width: 26.4em;
                height: 3.5em;
                background-color: $goldencolor;
                font-weight: 600;
            }
            .logout__btn {
                font-family: $Montserrat;
                font-size: .8em;
                margin-top: 6em;
                outline: none;
                border: none;
                height: 3em;
                width: 10em;
                transition: 250ms;
            }
            .logout__btn:hover {
                background-color: $redcolor;
                color: $whitecolor;
                font-weight: 600;
                transform: scale(1.05);
            }
        }
        .profile__right__container {
            margin-top: 5em;
            height: 80vh;
            width: 65%;
            background-color: $whitecolor;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin-left: 2em;
            overflow-y: auto;
            .section {
                padding: 1em 2em;
                .title {
                    padding-top: .6em;
                    padding-left: 1em;
                    height: 1.6em;
                    // font-size: 1.5rem;
                    font-weight: 600;
                    background-color: $greylightbackground;
                    border-bottom: 3px solid $blackbackground;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }
            .useful__information--container {
                position: relative;
                transition: 1500ms;
                .payment__methods {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom: 1px solid $greyborder;
                    position: relative;
                    font-weight: 600;
                    padding-left: 2em;
                    padding-right: 2em;
                    padding-top: .5em;
                    .expand {
                        transition: 1000ms;
                        position: absolute;
                        right: 2em;
                    }
                    .payment__methods--content {
                        font-weight: normal;
                        display: none;
                        transition: 1250ms;
                        flex-direction: column;
                        .title__list {
                            margin-top: .2em;
                            margin-bottom: .3em;
                            text-decoration: underline;
                        }
                        ul {
                            .item__list {
                                text-align: justify;
                                padding-bottom: .5em;
                            }
                            ol {
                                margin-bottom: -1em;
                            }
                        }
                        .important {
                            font-weight: 600;
                            span {
                                font-weight: normal;
                            }
                        }
                    }
                }
                .payment__methods:hover {
                    cursor: pointer;
                }
            }
            .favorites__section {
                padding: 0 1em;
            }
            .section--not--active {
                display: none;
            }
            .section--active {
                display: block;
            }
        }
    }
}
