$blackbackground: #161616;
$blacklightbackground: #3a3a3a;
$greylightbackground: #d9dede;
$greybackground: #f0f2f2;
$greyborder: #aab3b2;
$whitecolor: #fff;
$goldencolor: #ecbc5a;
$goldenstrongcolor: #e8a92c;
$goldenlightcolor: #f7f19f;
$redlightcolor: #e15b64;
$redcolor: #e02d39;
$redstrongcolor: #92131b;
$nintendocolor: #f82634;
$pccolor: #501550;
$greencolor: #2f7435;
$ps4color: #123f92;
$ps5color: #fff7f7;
$xboxcolor: #129223;