$blackbackground: #161616;
$blacklightbackground: #3a3a3a;
$greylightbackground: #d9dede;
$whitebroken: #f7f6f3;
$greystarlayout: #a2a2a2;
$greybackground: #f0f2f2;
$greyborder: #aab3b2;
$whitecolor: #fff;
$goldencolor: #ecbc5a;
$goldenstrongcolor: #e8a92c;
$goldenlightcolor: #f7f19f;
$goldencolorlighten: #f0ce89;
$goldennew: #ffda95;
$redlightcolor: #e15b64;
$redcolor: #e02d39;
$redstrongcolor: #92131b;
$nintendocolor: #f82634;
$pccolor: #501550;
$greencolor: #43b34c;
$greencolorlight: #37c756;
$ps4color: #123f92;
$ps5color: #fff7f7;
$xboxcolor: #129223;