$blackbackground: #161616;
$greylightbackground: #d9dede;
$whitecolor: #fff;
$goldencolor: #ecbc5a;
$goldenstrongcolor: #e8a92c;
$goldenlightcolor: #f7f19f;
$redlightcolor: #e15b64;
$redcolor: #e02d39;
$greencolor: #2f7435;