@import "../styles/colors";

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    .loading__image {
        background-color: $greylightbackground;
        height: 60px;
    }
}