@import "../../styles/colors";


.platforms__buttons {
    padding-left: 10px;
    .platforms__links {
        text-decoration: none;
        color: inherit;
        .platforms {
            background-color: $greylightbackground;
            border-radius: 10px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 2px 1px, rgba(0, 0, 0, 0.3) 0px 0px 5px 1px;
            .platform {
                padding: 5px;
                text-align: center;
                font-size: 12px;
            }
        }
        .platforms:hover {
            background-color: $goldencolor;
        }
    }
}

@media (max-width: 1536px ) {
    .platforms__buttons {
        .platforms__links {
            .platforms {
                height: 25px;
                padding: 4px;
                margin-top: 2px;
                .platform {
                    padding: 2px;
                }
            }
            .platforms:hover {
            }
        }
    }
}