@import "../../styles/colors";


.platforms__buttons {
    padding-left: 10px;
    .platforms__links {
        text-decoration: none;
        color: inherit;
        .platforms {
            background-color: $greylightbackground;
            border-radius: 10px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            .platform {
                padding: 5px;
                text-align: center;
                font-size: 12px;
            }
        }
        .platforms:hover {
            background-color: $goldencolor;
        }
    }
}