@import '../../fonts/fonts';
@import '../styles/colors';

.right__sidenav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .signIn__register {
        position: relative;
        top: 2.5em;
        .signIn__register--option {
            padding: .7em 1.5em;
            color: $blackbackground;
            font-family: $Montserrat;
            font-weight: 600;
            font-size: 18px;
            background-color: $greybackground;
            outline: none;
            border: none;
        }
        .signIn__register--option:hover {
            transition: 1s;
        }
        .active {
            background-color: $goldencolor;
            margin-right: .5em;
            margin-left: .5em;
        }
        .option {
            background-color: $whitecolor;
            margin-left: .5em;
            margin-right: .5em;
        }
        .option:hover {
            background-color: $goldencolor;
            cursor: pointer;
        }
    }
    .signIn__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        .email__input, .password__input {
            font-family: $Montserrat;
            padding-left: 1em;
            position: relative;
            width: 19em;
            height: 2.5em;
            outline: none;
            border: none;
        }
        .email__input {
            top: 5em;
        }
        .password__input {
            top: 6em;
        }
        .password__icon {
            z-index: 2;
            position: relative;
            top: 2.65em;
            font-size: 20px;
            left: 5.7em;
        }
        .not--slashed {
            display: block;
        }
        .slashed {
            display: none;
        }
        .signIn__button {
            position: relative;
            font-family: $Montserrat;
            outline: none;
            border: none;
            top: 3.7em;
            width: 13.35em;
            height: 2em;
            font-size: 20px;
            font-weight: 600;
            background-color: $goldencolor;
        }
        .signIn__button:hover {
            cursor: pointer;
            background-color: $goldenstrongcolor;
            transition: 1s;
        }
        .p__signin {
            top: 5em;
            position: relative;
            color: $whitecolor;
        }
        .logos__container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20em;
            top: 5em;
        }

        .logos__container > img {
            padding-left: .5em;
            padding-right: .5em;
            width: 3.5em;
            height: 3.5em;
        }
    }
}