@import "../../styles/colors";
@import "../../styles/keyframes";

.videogame__list {
    .videogame__card {
        background: $whitecolor;
        box-shadow: rgba(18, 18, 19, 0.25) 5px 10px 15px -5px, rgba(0, 0, 0, 0.3) 0px 0px 16px -5px;
        margin: 10px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        transition: 0.3s;
        .notlogged {
            display: none;
            position: absolute;
            width: 10em;
            border-radius: .7em;
            top: 50%;
            right: 15%;
            z-index: 200;
            background-color: rgba($redcolor, .8);
            transition: 1250ms;
            p {
                text-align: center;
                color: $whitecolor;
                font-size: 12px;
                font-weight: 600;
            }
        }
        .title__container {
            height: 55px;
            background: $goldencolor;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .videogame__card-title {
            text-align: center;
            padding-bottom: 10px;
            margin-bottom: -10px;
            margin-top: 0px;
            font-weight: bold;
            font-size: 14px;
        }
        .heart {
            position: absolute;
            top: 4.1em;
            right: 3.2em;
            height: 1.7em;
            width: 1.7em;
        }
        .heart-black {
            color: $blackbackground;
        }
        .heart-red {
            color: $redcolor;
        }
        .videogame__card-image{
            padding-top: 40px;
            padding-bottom: 10px;
            margin-left: 14px;
            margin-right: 14px;
            width: 200px;
            height: 250px;
        }
        .videogame__platform--container, & .videogame__platform--ps4, & .videogame__platform--ps5, & .videogame__platform--xbox, & .videogame__platform--nintendo, & .videogame__platform--pc {
            position: absolute;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            top: 62px;
            left: 0;
            height: 35px;
            width: 105px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            background: $blackbackground;
            color: $whitecolor;
            font-size: 10px;
            font-weight: 600;
        }
        .videogame__buy--container {
            position: absolute;
            top: 62px;
            right: 10px;
            background: $goldencolor;
            height: 35px;
            width: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 14px;
        }
        .videogame__card-price--container {
            background: $blackbackground;
            color: $whitecolor;
            display: flex;
            font-weight: bold;
            font-size: 17px;
            justify-content: space-evenly;
            position: relative;
            .videogame__onsale-text {
                position: absolute;
                width: 100%;
                background: $redcolor;
                bottom: 42px;
                display: flex;
                justify-content: center;
                .onsale__text {
                    font-size: 16px;
                    margin-top: 2px;
                    margin-bottom: 2px;
                }
            }
            .videogame__card-price {
                display: flex;
                font-size: 17px;
                justify-content: space-evenly;
                align-items: center;
                background: $blackbackground;
                color: $whitecolor;
                height: 40px;
                position: relative;
                .price__nosale {
                    padding-right: 25px;
                }
                .price__nosale::after {
                    border-bottom: 0.18em solid $redcolor;
                    content: "";
                    width: 60px;
                    position: absolute;
                    left: 0px;
                    top: 21px;
                    transform: rotate(-15deg);
                }
            }
        }
    }
    .videogame__card:hover {
        cursor: pointer;
        transform: scale(1.05);
        background: $goldencolor;
        .title__container {
            color: $whitecolor;
            background: $blackbackground;
        }
        .videogame__platform--ps4 {
            background: $ps4color;
        }
        .videogame__platform--ps5 {
            background: $ps5color;
            color: $blackbackground;
            font-weight: bold;
        }
        .videogame__platform--xbox {
            background: $xboxcolor;
        }
        .videogame__platform--nintendo {
            background: $nintendocolor;
        }
        .videogame__platform--pc {
            background: $pccolor;
            font-size: 12px;
            font-weight: bold;
        }
        .videogame__favorite--container {
            background: $blackbackground;
            color: $whitecolor;
        }

        .pulse {
            animation: pulse 1250ms infinite;
            color: $redcolor;
        }
        .videogame__buy--container {
            background: $blackbackground;
            color: $whitecolor;
        }
        .videogame__buy--container:hover {
            .shopping-cart__green {
                color: $greencolor;
                animation: pulse 1250ms infinite;
            }
            .shopping-cart__red {
                color: $redcolor;
            }
        }
    }
}
