@import '../styles/colors';
@import '../../fonts/fonts';

.body {
    margin-top: 85px;
    .videogame__card__slider {
        display: flex;
        max-width: 200%;
        // overflow-x: hidden;
    }
}
