@import '../../fonts/fonts';

header {
    position: fixed;
    top: 0;
    background-color: #161616;
    width: 100%;
    height: 85px;
    color: #fff;
    box-shadow: 0px -15px 20px 15px rgb(0,0,0/80%);
    border-bottom: 1px solid #fff;
    font-family: $Montserrat;
    z-index: 1;
    .navbar__options {
        position: absolute;
        display: flex;
        // justify-content: space-between;
        width: 80%;
        padding-left: 10%;
        .navbar__logo {
            padding-top: 10px;
            height: 65px;
        }
        .navbar__logo:hover {
            cursor: pointer;
        }
        .navbar__options-right {
            display: flex;
            width: 42%;
            justify-content: flex-end;
            align-items: center;
            margin-top: 22px;
            font-size: 14px;
            .navbar__option {
                font-weight: 600;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 22px;
            }
            .icon {
                font-size: 25px;
                margin-bottom: -10px;
            }
            .navbar__option:hover {
                color: #E8A92C;
                cursor: pointer;
            }
        }
        .navbar__options-left {
            display: flex;
            width: 42%;
            margin-top: 22px;
            font-size: 14px;
            justify-content: flex-start;
            .navbar__option {
                font-weight: 600;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 22px;
            }
            .icon {
                font-size: 25px;
                margin-bottom: -10px;
            }
            .navbar__option:hover {
                color: #E8A92C;
                cursor: pointer;
            }
        }
    }
}

.leftSidenav__container {
    top: 85px;
    position: fixed;
    left: -350px;
    transition: .5s;
    width: 350px;
    height: 100%;
    background-color: #161616;
    // transform:translateX(200px)
}