@import '../../fonts/fonts';
@import "../styles/colors";

header {
    position: fixed;
    top: 0;
    background-color: #161616;
    width: 100%;
    height: 80px;
    color: $whitecolor;
    box-shadow: 0px -15px 20px 15px rgb(0,0,0/80%);
    border-bottom: 1px solid $whitecolor;
    font-family: $Montserrat;
    z-index: 2;
    .navbar__options {
        position: absolute;
        display: flex;
        width: 80%;
        padding-left: 10%;
        .navbar__logo {
            padding-top: 10px;
            height: 60px;
        }
        .navbar__logo:hover {
            cursor: pointer;
        }
        .navbar__options-right {
            display: flex;
            width: 43%;
            justify-content: flex-end;
            align-items: center;
            margin-top: 22px;
            font-size: 14px;
            .navbar__option {
                font-weight: 600;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 22px;
            }
            .icon {
                font-size: 25px;
                margin-bottom: -10px;
            }
            .open__right {
                display: block;
            }
            .close__right {
                display: none;
            }
            .navbar__option:hover {
                transition: 1s;
                color: $goldenstrongcolor;
                cursor: pointer;
            }
        }
        .navbar__options-left {
            display: flex;
            width: 43%;
            margin-top: 22px;
            align-items: center;
            font-size: 14px;
            justify-content: flex-start;
            .navbar__option {
                font-weight: 600;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 22px;
            }
            .icon {
                font-size: 25px;
                margin-bottom: -10px;
            }
            .open {
                display: block;
            }
            .close {
                display: none;
            }
            .navbar__option:hover {
                transition: 1s;
                color: $goldenstrongcolor;
                cursor: pointer;
            }
        }
    }
}

.mini__navbar {
    display: none;
    z-index: 2;
}

.leftSidenav__container {
    top: 81px;
    position: fixed;
    left: -340px;
    transition: .5s;
    width: 20em;
    height: 100vh;
    overflow-x: hidden;
    background-color: $blackbackground;
    box-shadow: 0 0 10px 0 rgba(#161616, .9);
    border-right: 1px solid #161616;
    z-index: 5;
}

.rightSidenav__container {
    top: 81px;
    position: fixed;
    right: -340px;
    transition: .5s;
    width: 20em;
    height: 40vh;
    overflow-x: hidden;
    background-color: $blackbackground;
    box-shadow: 0 0 10px 0 rgba(#161616, .9);
    border-left: 1px solid #161616;
    border-bottom: 1px solid #161616;
    z-index: 5;
}

@media (max-width: 768px ){
    header {
        .navbar__options {
            .navbar__logo {
                padding-top: 20px;
                height: 40px;
            }
            .navbar__options-right {
                font-size: 12px;
                .navbar__option {
                }
            }
            .navbar__options-left {
                font-size: 12px;
                .navbar__option {
                }
            }
        }
    }
    .leftSidenav__container {
        width: 15em;
    }
}

@media (max-width: 425px ){
    header {
        height: 85px;
        .navbar__options {
            justify-content: center;
            .navbar__logo {
                padding-top: 10px;
                height: 35px;
            }
            .navbar__options-right {
                display: none;
            }
            .navbar__options-left {
                display: none;
            }
        }
    }
    .mini__navbar {
        display: flex;
        position: relative;
        top: 55px;
        justify-content: space-around;
        font-size: 20px;
        margin-top: -5px;
        padding-top: 7px;
        border-top: 1px solid $whitecolor;
        transition: 1s;
        .icon:hover {
            color: $goldenstrongcolor;
            cursor: pointer;
        }
        .open {
            display: block;
        }
        .close {
            display: none;
        }
    }
    .leftSidenav__container {
        width: 10em;
    }
}