@import '../../fonts/fonts';
@import '../styles/colors';

.left__sidenav {
    background-color: $blackbackground;
    top: -10px;
    position: relative;
    ul{
        text-decoration: none;
        padding-left: 0;
        list-style: none;
        .link {
            color: #161616;
            text-decoration: none;
            font-family: $Montserrat;
            font-weight: 600;
            font-size: 18px;
        }
        .link:active {
            color: #161616;
        }
        .left__sidenav-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $goldencolor;
            border-bottom: 1px solid $whitecolor;
            border-top: 1px solid $whitecolor;
            outline: none;
            cursor: pointer;
            .left__sidenav-option {
                padding-left: 35px;
            }
            .left__sidenav-icon {
                padding-top: 2px;
                margin-right: 30px;
            }
        }
        .left__sidenav-list:hover {
            transform: scale(1.02);
            background-color: $goldenlightcolor;
        }
        .left__sidenav-newsletter {
            background-color: $goldencolor;
            border-top: 1px solid $whitecolor;
            border-bottom: 1px solid $whitecolor;
            padding-left: 35px;
            .title-newsletter {
                display: flex;
                align-items: center;
                .subscribe-newsletter {
                    font-size: 14px;
                    font-weight: bold;
                    padding-top: 5px;
                    padding-left: 10px;
                }
            }
            .input-newsletter {
                margin-bottom: 15px;
                input {
                    outline: none;
                    height: 25px;
                    width: 165px;
                }
                button {
                    height: 31px;
                    width: 60px;
                    outline: none;
                    border: none;
                    background-color: $blackbackground;
                    color: $whitecolor;
                    border-radius: 2px;
                    cursor: pointer;
                }
                button:active {
                    color: $goldencolor;
                }
            }
        }
    }
}

@media (max-width: 1536px ) {
    .left__sidenav {
        top: -10px;
        position: relative;
        ul{
            .link {
                font-size: 16px;
            }
            .left__sidenav-list {
                .left__sidenav-icon {
                    margin-right: 35px;
                }
            }
            .left__sidenav-newsletter {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 0px;
            }
        }
    }
}

@media (max-width: 768px ){
    .left__sidenav {
        ul {
            .link {
                font-size: 16px;
            }
            .left__sidenav-newsletter {
                .input-newsletter {
                    button {
                        width: 173px;
                    }
                }
            }
        }
    }
}

@media (max-width: 425px ){
    .left__sidenav {
        ul {
            .link {
                font-size: 14px;
            }
            .left__sidenav-list {
                .left__sidenav-option {
                    padding-left: 15px;
                }
                .left__sidenav-icon {
                    margin-right: 15px;
                }
            }
            .left__sidenav-newsletter {
                padding-left: 15px;
                .title-newsletter {
                    .subscribe-newsletter {
                        font-size: 12px;
                    }
                }
                .input-newsletter {
                    input {
                        width: 125px;
                    }
                    button {
                        width: 133px;
                    }
                }
            }
        }
    }
}