@import '../../fonts/fonts';
@import '../styles/colors';

.left__sidenav {
    background-color: $blackbackground;
    ul{
        // height: 100vh;
        text-decoration: none;
        padding-left: 0;
        list-style: none;
        .link {
            color: #161616;
            text-decoration: none;
            font-family: $Montserrat;
            font-weight: 600;
            font-size: 18px;
        }
        .link:active {
            color: #161616;
        }
        .left__sidenav-list {
            display: flex;
            // height: 3.5em;
            align-items: center;
            justify-content: space-between;
            background-color: $goldencolor;
            border-bottom: 1px solid $whitecolor;
            border-top: 1px solid $whitecolor;
            outline: none;
            cursor: pointer;
            .left__sidenav-option {
                padding-left: 40px;
            }
            .left__sidenav-icon {
                padding-top: 2px;
                margin-right: 30px;
            }
        }
        .left__sidenav-list:hover {
            transform: scale(1.02);
            background-color: $goldenlightcolor;
        }
        .left__sidenav-newsletter {
            background-color: $goldencolor;
            border-top: 1px solid $whitecolor;
            border-bottom: 1px solid $whitecolor;
            padding-left: 40px;
            .title-newsletter {
                display: flex;
                align-items: center;
                .subscribe-newsletter {
                    font-size: 14px;
                    font-weight: bold;
                    padding-top: 5px;
                    padding-left: 10px;
                }
            }
            .input-newsletter {
                margin-bottom: 15px;
                input {
                    outline: none;
                    height: 25px;
                    width: 165px;
                }
                button {
                    height: 31px;
                    width: 60px;
                    outline: none;
                    border: none;
                    background-color: $blackbackground;
                    color: $whitecolor;
                    border-radius: 2px;
                    cursor: pointer;
                }
                button:active {
                    color: $goldencolor;
                }
            }
        }
    }
}