@import '../../fonts/fonts';
@import '../styles/colors';

.search__filter {
    position: absolute;
    top: 25px;
    left: -330px;
    display: flex;
    align-items: center;
    height: 60px;
    width: 400px;
    background: $blackbackground;
    font-size: 24px;
    color: $whitecolor;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.7s;
    .search--icon {
        position: absolute;
        left: 350px;
        transition: 0.7s;
    }
    .search--input {
        display: none;
        font-family: $Montserrat;
        font-size: 16px;
        padding-left: 10px;
        position: absolute;
        left: 63px;
        height: 35px;
        width: 310px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        outline: none;
        border: none;
    }
    .search--icon:hover {
        color: $goldenstrongcolor;
        cursor: pointer;
    }
}
