.search__container {
    position: relative;
    display: inline-flex;
    align-items: center;
    top: 85px;
    z-index: 2;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #161616;
    transition: 0.3s;
    box-shadow: 15px 0 30px 0 rgba(#444343, 0.5);
    input {
        border: none;
        outline: none;
        width: 100%;
        height: 40px;
        line-height: 80%;
        font-size: 22px;
        padding-left: 20px;
    }
    .icon {
        padding-left: 50px;
        font-size: 18px;
    }
}